$main: #232f3e;

.bg-main {
  background-color:$main;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #ffc107;
}

button {
  cursor: pointer;
}

section {
  min-height: 600px;
}

h5 {
  overflow-wrap: break-word;
}

.image {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: gold;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

#searchBtn {
  cursor: pointer;
  border: none;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#logo {
  width: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
